.main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    position: relative;
}

.exercises {
    background-color: aliceblue;
    padding: 40px 60px;
}

.user {
    background-color: honeydew;
    top: 0%;
}

.title-icon {
    display: flex;
    align-items: center;
}

.title-icon h1 {
    font-style: italic;
    margin-left: 20px;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media only screen and (max-width: 700px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
}